@charset "UTF-8";

/* 초기화 */
* { 
    margin: 0; padding: 0; 
    font-family: 'NanumSquare', Arial, 'sans-serif';
}
html { 
    font-size:62.5%;
    background-color: #0F4C81;
    color: #fff;
}
a { 
    text-decoration: none !important; 
    color: #fff;
}
img { border: 0; }
ul { list-style: none; }


/* 헤더 */

/* 메인메뉴 */
/* 로고 */
#main_header {
    /* width: 100%; */
    position: relative;
    width: 100%;
    max-width: 1440px;
    top: 0;

}

#main_header > .gnb_container {
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 139px;
}

.gnb_menu {
    float: left;
    overflow: hidden;

    margin-left: 110px;
    width: 100%;
}

#main_header .logo {
    float: left;
    /* width: 100%; */
    /* height: 139px; */
    /* width: 220px; */
    margin: 0 5px;
}

#main_header .logo a{
    /* nav를 왼쪽정렬하기 위해서 */
    float: left;
    /* display: block; */
    width: 190px;
    height: 75px;
    text-indent: -99999em;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 30px;
}

#main_header .logo a.electric_car {
    background-image: url(../images/main/logo.png);
}

#main_header .gnb_menu .nav {
    float: left;
    overflow: hidden;
    height: 139px;
    max-width: 1120px;
    width: 100%;
}

#main_header .nav > li {
    float: left;
    padding-right: 70px;
    overflow: hidden;
    text-align: center;
}

#main_header .nav > li > a {
    font-size: 2.0rem;
    font-weight: 800;
    padding: 10px 20px;
    line-height: 139px;
}

#main_header .nav > li a:hover {
    color: #BFFF00;
}

#main_header .sns_menu {
    position: absolute;
    right: 0;
}

#main_header .sns_menu > ul {
    display: inline-block;
    right: 0%;
    overflow: hidden;
    max-width: 265px;
    width: 100%;
}

#main_header .sns_menu > ul >  li {
    display: inline-block;
    overflow: hidden;
    margin-top: 40px;
    margin-left: 10px;
    width: 54px;
    height: 54px;
}

#main_header .sns_menu > ul >  li a {
    display: block;
    overflow: hidden;
    width: 50px;
    height: 50px;
    text-indent: -99999em;
    background-repeat: no-repeat;
    background-size: contain;
    border: 2px solid transparent;
    border-radius: 8px;
}

#main_header .sns_menu ul a.facebook {
    background-image: url(../images/main/ico_facebook.png);    
}

#main_header .sns_menu ul a.youtube {
    background-image: url(../images/main/ico_youtube.png);    
}

#main_header .sns_menu ul a.instagram {
    background-image: url(../images/main/ico_instagram.png);    
}

#main_header .sns_menu ul a.twitter {
    background-image: url(../images/main/ico_twitter.png);    
}

#main_header .sns_menu ul a:hover {
    border: 2px solid #BFFF00;
    border-radius: 8px;
}

/* 반응형 아이콘 */
#main_header .trigger {
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
}

#main_header .trigger img {
    width: 30px;
    height: 30px;
}

#main_header .trigger .moblie_close {
    display: none;
}



/* 메뉴_bar */
.path {
    position: fixed;
    width: 100%;
    height: 1px;
    background: #BFFF00;
    top: 139px;
    /* z-index: 2; */
}

/* lnb_하위메뉴 */


#main_header > .lnb_container {
    height: 190px;
    top: 140px;
    width: 100%;
    position: fixed;
    z-index: 1;
    background: rgba(15,76,129,0.8);

    overflow: hidden;
    display: none;
}


#main_header > .lnb_container .lnb ul {
    float: left;
    overflow: hidden;
    /* margin-left: 300px; */
}

#main_header > .lnb_container .lnb .drodown1 {
    margin-left: 310px;
}

#main_header > .lnb_container .lnb .drodown2 {
    margin-left: 70px;
}

#main_header > .lnb_container .lnb .drodown4 {
    margin-left: 240px;
}


#main_header > .lnb_container .lnb ul > li {
    text-align: left;
    padding: 20px;
    left: 30px;
}

#main_header > .lnb_container .lnb ul > li a {
    font-size: 1.6rem;
    font-weight: 700;
}

#main_header > .lnb_container .lnb ul > li a:hover {
    color: #BFFF00;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.appear {
    animation: fade-in 0.5s;
}

.disappear {
    animation: fade-out 0.5s;
}

@keyframes fade-in {
    from {
        /* 투명도지정 */
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}






/* top버튼 */
.topBtn {
    position: fixed;
    right: 3%;
    bottom: 50px;
    display: none;
    z-index: 9999;
}


/* 푸터 */
#main_footer {
    width: 100%;
    height: 250px;
    background: #052b4d;
    text-align: center;
}

.footer_title {
    font-size: 2.3rem;
    font-weight: 400;
    padding-top: 50px;
}

.footer_logo {
    position: relative;
    /* max-width: 300px; */
    /* width: 100%; */
    height: 70px;
}

.footer_logo img {
    position: absolute;
    display: block;
    left: 250px;
    max-width: 155px;
    width: 100%;
}

#footer_container {
    position: relative;
    height: 95px;
    width: 100%;
}

footer .footer_menu {
    position: relative;
    font-size: 1.8rem; 
}

footer .footer_menu::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    width: 100%;
    height: 1px;
    background: #fff;
}

.footer_menu li {
    position: relative;
    display: inline-block;
    padding: 0 20px;
    background: #052b4d;
}

.footer_menu li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -1px;
    display: block;
    width: 4px;
    height: 4px;
    background: #fff;
}

.footer_menu li:first-child:before { display:none; }

footer .footer_menu li a {
    color:#fff;
    font-size: 1.6rem;
}

.copy {
    font-size: 1.4rem;
    padding: 20px 0;
}











/* 1440부터 */
@media (max-width:1440px) {
    #main_header {
        width: 100%;
    }

    #main_header .nav > li {
        padding-right: 20px;
    }

    #main_header .logo {
        width: 90px;
        /* height: 30px; */
        margin-top: 26px;
    }

    #main_header .logo a {
        width: 90px;
        height: 30px;
    }
}


/* 1024까지 */
@media (max-width:1024px) {
    #main_header {
        width: 100%;
    }

    .gnb_menu{
        margin-left: 10px;
    }

    #main_header .logo {
        width: 90px;
    }

    #main_header .logo a {
        width: 90px;
        height: 30px;
        margin-top: 26px;
    }

    #main_header .nav > li {
        padding-right: 20px;
    }

    #main_header .nav > li a {
        font-size: 1.6rem;
    }

    #main_header .sns_menu > ul >  li {
        width: 35px;
        height: 35px;
        margin-top: 50px;
    }

    #main_header .sns_menu > ul >  li a {
        width: 30px;
        height: 30px;
    }
}














/* 미디어 쿼리 */
@media screen and (max-width: 767px) {

    #main_header > .gnb_container {
        height: 100px;
    }

    #main_header .gnb_menu .nav {display: none;}

    #main_header .logo {
        margin-top: -6px;
    }
    

    .path {
        position: fixed;
        width: 100%;
        height: 1px;
        background: #BFFF00;
        top: 101px;
    }

    .logo a.electric_car {        
        height: 50px;
        width: 150px;
    }

    #main_header .sns_menu > ul { display: none; }


    #main_header .trigger{
        display: block;
    }
    

    .topBtn {
        right: -15px;
    }

    .topBtn img {
        width: 50%;
    }


    #mobilde_menu .nav {
        margin-top: 140px;
    }


    #main_footer {
        max-width: 100%;
        height: auto;
    }

    .footer_title {
        font-size: 1.6rem;
        /* padding-top: 40px; */
        /* padding-top: 70px; */
    }

    .footer_logo img {
        display: none;
        height: 0;
    }

    footer .footer_menu {
        font-size: 1.4rem;
        top: -60px;
    }

    footer .footer_menu::before {
        display: none;
    }

    footer .footer_menu li {
        display: block;
        padding: 2px 4px;
    } 

    .footer_menu li::before {
        display: none;
    }

    footer .footer_menu li a {
        font-size: 0.6rem;
    }

    .copy {
        font-size: 0.8rem;
    }

}

@media screen and (min-width: 768px) and (max-width: 909px) {
    
    #main_header .logo {
        margin-top: 10px;
    }
    
    #main_header .gnb_menu .nav {
        width: 70%;
    }

    #main_header .nav > li { padding-left: 0; }

    #main_header .nav > li a {
        font-size: 1.2rem;
        padding: 10px;
    }
    
    #main_header .sns_menu > ul {
        width: 100%;
    }
    
    #main_header .sns_menu > ul >  li {
        margin-top: 50px;
        margin-left: 0;
        width: 30px;
        height: 30px;
    }

    #main_header .sns_menu > ul >  li a {
        width: 25px;
        height: 25px;
    }
    

    .gnb_menu {
        margin-left: 5px;
    }
    
    
    /* .gnb_menu {
        margin-left: 40px;
    }

    #main_header .logo {
        width: 70px;
    }

    #main_header .logo a {
        width: 90px;
        height: 30px;
        margin-top: 50px;
    }

    #main_header .nav
    #main_header .nav > li {
        padding-right: 0;
    }

    #main_header .nav > li a {
        font-size: 1.2rem;
        padding: 10px;
    }

    #main_header .sns_menu > ul >  li {
        width: 30px;
        height: 30px;
        margin-top: 50px;
    }

    #main_header .sns_menu > ul >  li a {
        width: 25px;
        height: 25px;
    } */


    .footer_logo {
        /* width: 80%; */
        height: 23px;
    }
    
    .footer_logo img {
        left: 20px;
        max-width: 70px;
        width: 60%;
    }


}


@media screen and (min-width: 910px) and (max-width: 1000px) {

    #main_header {
        width: 100%;
    }

    #main_header .logo {
        margin-top: 30px;
    }
    
    #main_header .gnb_menu .nav {
        width: 70%;
    }

    #main_header .nav > li { padding-left: 0; }

    #main_header .nav > li a {
        font-size: 1.2rem;
        padding: 10px;
    }
    
    #main_header .sns_menu > ul {
        width: 100%;
    }
    
    #main_header .sns_menu > ul >  li {
        margin-top: 50px;
        margin-left: 0;
        width: 30px;
        height: 30px;
    }

    #main_header .sns_menu > ul >  li a {
        width: 25px;
        height: 25px;
    }
    

    .gnb_menu {
        margin-left: 5px;
    }

    .footer_logo {
        height: 40px;
    }
    
    .footer_logo img {
        left: 45px;
        max-width: 100px;
        width: 60%;
    }

}




@media screen and (min-width: 999px) and (max-width: 1023px) {

    #main_header {
        width: 100%;
    }
    
    #main_header .logo {
        margin-top: 30px;
    }
    
    #main_header .gnb_menu .nav {
        width: 70%;
    }

    #main_header .nav > li { padding-left: 0; }

    #main_header .nav > li a {
        font-size: 1.2rem;
        padding: 10px 5px;
    }
    
    #main_header .sns_menu > ul {
        width: 100%;
    }
    
    #main_header .sns_menu > ul >  li {
        margin-top: 50px;
        margin-left: 0;
        width: 30px;
        height: 30px;
    }

    #main_header .sns_menu > ul >  li a {
        width: 25px;
        height: 25px;
    }
    

    .gnb_menu {
        margin-left: 5px;
    }



    #main_header .sns_menu > ul >  li {
        width: 35px;
        height: 35px;
        margin-top: 50px;
    }

    #main_header .sns_menu > ul >  li a {
        width: 30px;
        height: 30px;
    }


    .footer_logo {
        height: 40px;
    }
    
    .footer_logo img {
        left: 45px;
        max-width: 100px;
        width: 60%;
    }

}




@media screen and (min-width: 1024px) and (max-width: 1440px){

    #main_header {
        width: 100%;
    }
    

    #main_header .gnb_menu .nav {
        width: 80%;
    }

    #main_header .gnb_menu .nav > li > a {
        padding: 10px 15px;
        font-size: 1.8rem;
    }
    
    #main_header .sns_menu > ul {
        width: 100%;
    }
    
    #main_header .sns_menu > ul >  li {
        margin-top: 40px;
        margin-left: 0;
        width: 40px;
        height: 40px;
    }

    #main_header .sns_menu > ul >  li a {
        width: 35px;
        height: 35px;
    }
    

    .gnb_menu {
        margin-left: 5px;
    }

    
    /* #main_header {
        max-width: 100%;
    }

    .gnb_menu {
        width: 90vw;
        margin-left: 50px;
    }

    #main_header .logo {
        width: 90px;
    }

    #main_header .logo a {
        width: 90px;
        height: 30px;
        margin-top: 50px;
    }

    #main_header .nav
    #main_header .nav > li {
        padding-right: 1px;
    }

    #main_header .nav > li a {
        font-size: 1.5rem;
        padding: 10px 15px;
    }

    #main_header .sns_menu > ul >  li {
        width: 35px;
        height: 35px;
        margin-top: 50px;
    }

    #main_header .sns_menu > ul >  li a {
        width: 30px;
        height: 30px;
    }   */
    
    /* lnb메뉴 */
    




    .footer_logo {
        /* width: 80%; */
        height: 60px;
    }
    
    .footer_logo img {
        left: 64px;
        max-width: 135px;
        width: 80%;
    }


}

@media screen and (min-width: 1441px) and (max-width: 1600px) {
    #main_header .gnb_menu .nav {
        width: 90%;
    }

    .gnb_menu { margin-left: 30px; }

    #main_header .logo a {
        width: 170px;
    }

    #main_header .nav li {
        padding-right: 50px;
    }

    #main_header .gnb_menu .nav li {
        padding-left: 0;
    }
    
    #main_header .sns_menu > ul {
        width: 100%;
    }
    
    #main_header .sns_menu > ul >  li {
        margin-top: 40px;
        margin-left: 0;
        width: 50px;
        height: 50px;
    }

    .footer_logo img {
        left: 147px;
    }
    
}


@media screen and (min-width: 1601px) {
    #main_header .gnb_menu .nav {
        width: 100%;
    }
    
    #main_header .sns_menu > ul {
        width: 100%;
    }
    
    #main_header .sns_menu > ul >  li {
        margin-top: 40px;
        margin-left: 10px;
        width: 54px;
        height: 54px;
    }
    
}



