@charset "UTF-8";

/* 초기화 */

html { 
    background-color: #fff !important;
}




/* 헤더색상 */
.gnb_container {
    height: 139px;
    background: rgba(15,76,129,0.8) !important;
}

.path { z-index: 2; }



/* aside-메뉴 */
#info_menu {
    position: fixed;
    overflow: auto;
    height: 100%;
    top: 300px;
    left: 50px;
}

.info {
    max-width: 180px;
    width: 100%;
    /* top: 150px; */
    /* left: 150px; */
    
}

.info h2 {
    font-size: 2.3rem;
    font-weight: 800;
    background: #0F4C81;
    padding: 10px 20px;
    color: #fff;
}

.info a {
    display: block;
    padding: 20px 0;
    padding-left: 15px;
    font-size: 2.0rem;
    font-weight: 600;
    color: #000;
}

.info a:hover {
    color: #0F4C81;
}


/* 메인 */
#info_main {
    position: relative;
    margin-left: 440px;
}

#info_main > .info_container {
    max-width: 960px;
    width: 100%;
    height: 2300px;
    position: relative;
}


.info_container > .infban {
    max-width: 960px;
    width: 100%;
    position: relative;
    height: 140px;
}

#info_main > .info_container > .infban img {
    position: absolute;
    top: 140px;
}

.info_container > .info {
    position: absolute;
    top: 140px;
    max-width: 960px;
    width: 100%;
}

.info .info_title {
    position: relative;
    height: 30px;
    top: 200px;
}

.info .info_title .bar {
    width: 7px;
    height: 27px;
    background: #0F4C81;
    display: inline-block;
}

.info .info_title h3 {
    font-size: 2.0rem;
    color: #000;
    display: inline-block;
    height: 27px;
    position: absolute;
    padding-left: 5px;
}

.info .info_title p {
    font-size: 1.8rem;
    color: #000;
    padding-top: 20px;
    padding-left: 25px;
}


.info .car1 {
    position: relative;
    top: 200px;
    width: 100%;
    max-width: 960px;
    margin-top: 100px;
    
    overflow: hidden;
    
}

.info .selc {
    margin-top: 50px;
}

.info .car1 img {
    max-width: 100%;
    height: auto;
    padding-right: 10px;

    float: left;
    display: block;
}

.info .car1 p {
    color: #000;
    font-size: 1.5rem;
    padding-top: 20px;
}

.info .car1 p:first-child {
    padding-top: 70px;
}

.info .car1 .sub1:last-child {
    margin-top: 126px;
}

.charge_table {
    float: left;
    display: block;
    margin-left: 15px;
}


.info .car1 .sub1_2 {
    margin-left: 400px;
}

.info .car1 .sub1 p {
    padding-left: 6px;
}

/* .info .car1 .sub1_2 p {
    padding-top: 25px;
} */

.info .car1 .sub1 .citation {
    color: #6B6B6B;
    font-size: 1.0rem;
    font-weight: 700;
    font-style: italic;
    text-align: right;
    padding-top: 50px;
}


.info .info_title:last-child {
    margin-top: 80px;
}

.info .info_title .char {
    margin-top: 10px;
    margin-bottom: 20px;
    color: #000;
}

.info .info_title .char h4 {
    font-size: 1.6rem;
    padding-left: 15px;
}

.info .info_title .char p {
    font-size: 1.6rem;
    padding-top: 15px;
    padding-left: 25px;
}






@media screen and (max-width: 767px) {
    #info_menu {
        top: 150px;
        left: 20px;
    }

    .info {
        width: 100%;
    }

    .info h2 {
        font-size: 1.5rem;
        font-weight: 400;
        padding: 8px 10px;
    }
    
    .info a {
        padding: 16px 0;
        padding-left: 13px;
        font-size: 1.3rem;
        font-weight: 400;
    }

    #info_main {
        margin-left: 160px;
    }

    #info_main > .info_container {
        max-width: 100%;
        height: 1170px;
    }
    

    #info_main > .info_container > .infban img {
        width: 100%;
        top: 82px;
    }

    .info .info_title {
        top: 100px;
    }
    
    .info .info_title .bar {
        width: 4px;
        height: 15px;
        background: #0F4C81;
        display: inline-block;
    }
    
    .info .info_title h3 {
        font-size: 1.4rem;
        color: #000;
        display: inline-block;
        height: 27px;
        position: absolute;
        padding-left: 3px;
    }

    .info .info_title p {
        padding-top: 10px;
        font-size: 1.2rem;
    }

    .info .car1 {
        top: 50px;
    }

    .info .car1 img {
        width: 25%;
    }

    .info .car1 p {
        font-size: 1.0rem;
        padding-top: 5px;
    }
    

    .info .car1 p:first-child {
        padding-top: 20px;
    }
    
    .info .car1 .sub1:last-child {
        margin-top: 20px;
    }
    
    .info .car1 .sub1_2 {
        margin-left: 0;
    }

    .info .car1 .sub1 p {
        padding-left: 0;
    }
    
    .info .car1 .sub1 .citation {
        color: #6B6B6B;
        font-weight: 700;
        font-style: italic;
        text-align: right;
        padding-top: 30px;
    }


    .info .info_title .char {
        margin-top: 10px;
        margin-bottom: 20px;
        color: #000;
    }
    
    .info .info_title .char h4 {
        font-size: 1.0rem;
        padding-left: 15px;
    }
    
    .info .info_title .char p {
        font-size: 1.0rem;
        padding-top: 9px;
        padding-left: 25px;
    }

    .info .info_title:last-child {
        margin-top: 5px;
    }


    .info .car1 .sub1_2 {
        margin-left: 170px;
    }
}

@media screen and (min-width: 768px) and (max-width: 909px) {

    #info_main > .info_container > .infban img {
        top: 131px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    #info_menu {
        top: 150px;
        left: 20px;
    }
    
    .info {
        width: 100%;
    }

    .info h2 {
        font-size: 1.8rem;
        font-weight: 600;
        padding: 8px 16px;
    }
    
    .info a {
        padding: 16px 0;
        padding-left: 13px;
        font-size: 1.6rem;
        font-weight: 400;
    }

    #info_main {
        margin-left: 220px;
    }

    #info_main > .info_container {
        max-width: 100%;
        height: 2100px;
    }

    #info_main > .info_container {
        max-width: 100%;
    }
    
    #info_main > .info_container > .infban {
        max-width: 100%;
        height: auto;
    }

    #info_main > .info_container > .infban img {
        width: 100%;
    }

    .info .info_title {
        height: 20px;
        top: 200px;
    }
    
    .info .info_title .bar {
        width: 5px;
        height: 18px;
        background: #0F4C81;
        display: inline-block;
    }
    
    .info .info_title h3 {
        font-size: 1.6rem;
        color: #000;
        display: inline-block;
        height: 27px;
        position: absolute;
        padding-left: 3px;
    }

    .info .info_title p {
        font-size: 1.3rem;
    }

    .info .car1 {
        top: 190px;
    }
    .info .car1 img {
        width: 40%;
    }

    .info .car1 p {
        font-size: 1.0rem;
        padding-top: 10px;
    }
    
    .info .car1 .sub1:first-of-type {
        margin-top: -20px;
    }
    
    .info .car1 .sub1:last-child {
        margin-top: 90px;
    }
    

    .info .car1 .sub1_2 {
        margin-left: 0;
    }

    .info .car1 .sub1 p {
        padding-left: 6px;
    }
    
    .info .car1 .sub1 .citation {
        color: #6B6B6B;
        font-weight: 700;
        font-style: italic;
        text-align: right;
        padding-top: 50px;
    }

    .info .info_title .char {
        margin-top: 10px;
        margin-bottom: 20px;
        color: #000;
    }
    
    .info .info_title .char h4 {
        font-size: 1.3rem;
        padding-left: 15px;
    }
    
    .info .info_title .char p {
        font-size: 1.3rem;
        padding-top: 10px;
        padding-left: 25px;
    }
    

    /* .info .car1 .sub1_2 p:first-child {
        padding-top: 40px;
        padding-left: 60px;
    } */

}

@media screen and (min-width: 1024px) and (max-width: 1440px) {

    #info_menu {
        top: 200px;
        left: 40px;
    }

    .info {
        width: 100%;
    }

    .info h2 {
        font-size: 2.0rem;
        font-weight: 700;
        padding: 10px 18px;
    }
    
    .info a {
        padding: 16px 10px;
        padding-left: 13px;
        font-size: 1.6rem;
        font-weight: 600;
    }

    #info_main {
        margin-left: 280px;
    }

    #info_main > .info_container {
        max-width: 100%;
        height: 2100px;
    }

    #info_main > .info_container {
        max-width: 100%;
    }

    #info_main > .info_container > .infban img {
        width: 100%;
    }

    .info .info_title {
        height: 20px;
        top: 200px;
    }
    
    .info .info_title .bar {
        width: 7px;
        height: 22px;
        background: #0F4C81;
        display: inline-block;
    }
    
    .info .info_title h3 {
        font-size: 1.9rem;
        color: #000;
        display: inline-block;
        height: 27px;
        position: absolute;
        padding-left: 4px;
    }

    .info .info_title p {
        font-size: 1.5rem;
    }

    .info .car1 {
        top : 190px;
    }
    .info .car1 img {
        width: 50%;
    }

    .info .car1 p {
        font-size: 1.3rem;
        padding-top: 10px;
    }
    
    .info .car1 .sub1:first-of-type {
        margin-top: 5px;
    }
    
    .info .car1 .sub1:last-child {
        margin-top: 150px;
    }
    
    .info .car1 .sub1_2 {
        margin-left: 0;
    }

    .info .car1 .sub1 p {
        padding-left: 6px;
    }

    .info .car1 .sub1_2 p:first-child {
        padding-top: 20px;
    }


}