@charset "UTF-8";

/* 초기화 */
* { 
    margin: 0; padding: 0; 
    font-family: 'NanumSquare', Arial, 'sans-serif';
}
html { 
    font-size:62.5%;
    background-color: #ffff;
    color: #000
}
a { 
    text-decoration: none !important; 
    /* color: #0F4C81; */
}
td{color: #000;}
img { border: 0; }
ul { list-style: none; }



table {
    border: 1px solid #000;
    border-collapse: collapse;
}

td, th {
    white-space: nowrap;
    vertical-align: center;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
}

th {
padding: 10px 15px;
}

td {
padding: 10px 24px;
font-size: 12px;
}

thead {
background-color: #6fa9db;
color: #fff;
}

tbody th {
background-color: #6fa9db;
color: #fff;
}







@media screen and (max-width: 767px){

    .charge_table{ display: none;}

    td, th {
        font-size: 13px;
        font-weight: 400;
    }

    .sub1_2 {
        
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){

    td, th {
        font-size: 13px;
        font-weight: 400;
    }
}

@media screen and (min-width: 1024px){
    .charge_table {
        max-width: 80%;
    }
}