@charset "UTF-8";

/* 초기화 */


td{color: #000;}



table {
    border: 1px solid #000;
    border-collapse: collapse;
}

td, th {
    white-space: nowrap;
    vertical-align: center;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
}

th {
padding: 10px 15px;
}

td {
padding: 10px 24px;
font-size: 12px;
}

thead {
background-color: #6fa9db;
color: #fff;
}


tbody th {
background-color: #6fa9db;
color: #fff;
}








@media screen and (max-width: 767px){

    .charge_table{ display: none;}

    td, th {
        font-size: 13px;
        font-weight: 400;
    }

}

@media screen and (min-width: 768px) and (max-width: 1001px){
    th {
        font-size: 10px;
        padding: 8px 10px;
    }

    td {
        font-size: 8px;
        font-weight: 200;
        padding: 8px 20px;
    }

}

@media screen and (min-width: 1000px) and (max-width: 1023px){

    .charge_table {
        margin-left: 13px;
    }

    th {
        font-size: 10px;
        padding: 8px 10px;
    }

    td {
        font-size: 8px;
        font-weight: 200;
        padding: 8px 20px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {

    .charge_table {
        margin-left: 5px;
    }

    th {
        font-size: 12px;
        padding: 10px 13px;
    }

    td {
        font-size: 12px;
        font-weight: 200;
        padding: 10px 23px;
    }
}