@charset "UTF-8";



/* 헤더, 푸더 고정 */

/* #header, #footer{
    position:fixed;
    height: 50px;
    display:block;
    width: 100%;
    background: #333;
    z-index:9;
    text-align:center;
    color: #f2f2f2;
    padding: 20px 0 0 0;
}

#header{
    top:0px;
}
#footer{
    bottom:0px;
} */



/* 각 풀페이지들의 설정 */
#section0 {
    background: url(../images/location/historypage.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

#section1 {
    background: url(../images/location/bluepage.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

#section2 {
    background: url(../images/location/snspage.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.intro {
    width: 1200px;
    margin: 0 auto;
}

    /* Style for our header texts
* --------------------------------------- */
.title {
    /* height: 120px; */
    text-align: center;
    margin: 10px;
}
.title h3{
    font-size: 1.8rem;
    font-weight: 900;
    color: #0F4C81;
    margin:0;
}
.title p{
    font-size: 1.0rem;
    color: #0F4C81;
}



/* 첫번째 페이지 설정 */

.themes_container {
    max-width: 1200px;
    margin: 0 auto;
}

.themes_box {
    text-align: center;
}

.themes_box img {
    margin: 10px 16px;
}

.themes_box:last-child {
    text-align: left;
}



