@charset "UTF-8";

html { 
    font-size:62.5%;
    background-color: rgba(0, 0, 0, 0) !important;
    /* color: #0F4C81; */
}

/* 헤더, 푸더 고정 */

#main_header{
    position:fixed;
    display:block;
    width: 100%;
    z-index:9;
    text-align:center;
    padding: 0;
}

.gnb_container {
    height: 139px;
    background: rgba(15,76,129,0.8) !important;
}

.path { z-index: 2; }


/* 
#main_header{
    top:0px;
}
#main_footer{
    bottom:0px;
} */



/* 각 풀페이지들의 설정 */
#section0 {
    background: url(../images/location/historypage.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    /* height: auto; */
}

#section1 {
    background: url(../images/location/bluepage.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

#section2 {
    background: url(../images/location/snspage.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.intro {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* height: 969px; */
}

    /* Style for our header texts
* --------------------------------------- */
.intro_title {
    text-align: center;
    /* padding-top: 145px; */
}
.intro_title h3{
    font-size: 1.8rem;
    font-weight: 900;
    color: #0F4C81;
    margin:0;
}
.intro_title p{
    font-size: 1.0rem;
    color: #0F4C81;
}



/* 첫번째 페이지 설정 */

.themes_container {
    width: 100%;
    max-width: 1200px;
    margin: 140px auto;
}

.themes_box {
    /* display: inline-block; */
    position: relative;
    /* 집 가서 수정할것 */
    top: 10px;
    text-align: center;
}

.themes_box:first-child {
    top: 131px;
}

.themes_box img {
    width: 260px;
    max-width: 100%;
}

.themes_box:last-child {
    text-align: left;
}


/* 애니메이션효과 */
figure.location {
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 230px;
    max-width: 260px;
    width: 100%;
    color: #000000;
    text-align: center;
    font-size: 16px;
    display: inline-block;
}

figure.location *,
figure.location *:before,
figure.location *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.55s ease;
    transition: all 0.55s ease;
}

figure.location img {
    max-width: 100%;
    backface-visibility: hidden;
    vertical-align: top;
    opacity: 1;
}

figure.location .title {
    position: absolute;
    top: 65%;
    left: 15px;
    padding: 5px 10px 10px;
}

figure.location .title:before,
figure.location .title:after {
    height: 2px;
    width: 400px;
    position: absolute;
    content: '';
    background-color: #ffffff;
}

figure.location .title:before {
    top: 0;
    left: 10px;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

figure.location .title:after {
    bottom: 0;
    right: 10px;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
figure.location .title div:before,
figure.location .title div:after {
    width: 2px;
    height: 360px;
    position: absolute;
    content: '';
    background-color: #ffffff;
}

figure.location .title div:before {
    top: 10px;
    right: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}
figure.location .title div:after {
    bottom: 10px;
    left: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}
figure.location h2,
figure.location h4 {
    margin: 10px 0;
    text-transform: uppercase;
}
figure.location h2 {
    font-weight: 400;
}
figure.location h4 {
    display: block;
    font-size: 1.8rem;
    font-weight: 800;
    background-color: #ffffff;
    padding: 5px 10px;
    color: #000000;
}

figure.location a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
figure.location:hover img,
figure.location.hover img {
    zoom: 1;
    filter: alpha(opacity=35);
    -webkit-opacity: 0.35;
    opacity: 0.35;
}
figure.location:hover .title:before,
figure.location.hover .title:before,
figure.location:hover .title:after,
figure.location.hover .title:after,
figure.location:hover .title div:before,
figure.location.hover .title div:before,
figure.location:hover .title div:after,
figure.location.hover .title div:after {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}
figure.location:hover .title:before,
figure.location.hover .title:before,
figure.location:hover .title:after,
figure.location.hover .title:after {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}
figure.location:hover figcaption,
figure.location.hover figcaption {
    opacity: 1;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}









/* 미디어 쿼리 */
@media screen and (max-width: 767px) {

    .intro {
        height: auto;
    }

    .themes_container {
        width: 100%;
        text-align: center;
        overflow: hidden;
        
    }
    
    .themes_box {
        display: inline-block;
        text-align: center;
        
    }

    figure.location {
        display: block;
        min-width: 170px;
        max-width: 200px;
        margin: 10px;
    }

    figure.location h2 {
        font-weight: 300;
        font-size: 1.8rem;
    }
    figure.location h4 {
        display: block;
        font-size: 1.6rem;
        font-weight: 800;
        background-color: #ffffff;
        padding: 5px 10px;
        color: #000000;
    }



}

@media screen and (min-width: 766px) and (max-width: 909px) {


}

@media screen and (min-width: 766px) and (max-width: 1023px) {

    .intro {
        height: auto;
    }

    .themes_container {
        width: 100%;
        text-align: center;
    }

    figure.location h2 {
        font-weight: 400;
    }
    figure.location h4 {
        display: block;
        font-size: 1.8rem;
        font-weight: 800;
        background-color: #ffffff;
        padding: 5px 10px;
        color: #000000;
    }
    
}

@media screen and (min-width: 1024px) {
    .themes_container {
        width: 100%;
        /* margin: 0 auto; */
    }
    
    .themes_box {
        display: inline-block;
        text-align: center;
    }
    

}